<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="who-uses-rise">
                    <div class="who-uses-rise-heading">
                <h2>Who Uses Rise Vision?</h2>
                <p>Rise Vision is available to everyone, we don’t impose any limits on the use.  If you are looking for some inspiration for some of the key market segments using our platform check out the following examples.</p>
                </div>
                </div>
            </div>
        </div>
    </section>