<!-- Navigation -->
   

    <!-- Header -->
    <header>
        <div class="header-background">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">The Enterprise Digital Signage Platform
Everything you need to create amazing digital signage for FREE</div>
               
            </div>
        </div>
    </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

