<!-- Services Section -->
    <section id="services">
        <div class="services">
        <div class="container">
        	<div class="create-text">
        		<h2><strong>Create</strong></h2>
        		<p>You can use your favorite editor such as Brackets or Sublime Text to create amazing HTML content.  If you’re not comfortable coding, we also offer a basic editor with several free widgets to aid you in creating engaging presentations.</p>
            </div>
            <div class="display-icon">
            	<img src="img/display.png" width="50%">
            </div>
        </div>
        </div>
    </section>