.header-background{
    background-image: url('img/header-bg.jpg');
    height: 100vh;
    text-align: center;
    color: #ffffff;
    font: helvetica;

}
.intro-heading{
	padding-top: 45%;
	font-size:30px;
}

.services{
	height: 100vh;
	background-color: #2e62ab
}

.create-text{
	max-width: 30vw;
	
}