h2{
	font-size: 64px;
}
p{
	font-size: 30px;
}

.header-background{
    background-image: url('img/header-bg.jpg');
    height: 100vh;
    text-align: center;
    color: #ffffff;
    font-family: helvetica;

}
.intro-heading{
	padding-top: 30%;
	font-size:30px;
}

.services{
	height: 100vh;
	background-color: #2e62ab
}

.create-text{
	max-width: 40vw;
	font-family: helvetica;
	color: #ffffff;

}

.display-icon{
	float: right;
	display: inline;
	position: relative;
	max-width: 40vw;

}
.who-uses-rise{
	height: 100vh;
	background-color: #ffffff
}
.who-uses-rise-heading{
	text-align: center;
	color: #000000;
    font-family: helvetica;
}